/*Global*/
.font{
    font-family: 'Kumbh Sans', sans-serif;
}

p{
    margin:0;
}

/*Navigation Bar*/
.navbar{
    display: flex;
    padding-left: 160px;
    padding-bottom: 25px;
}

.inline{
    display: inline-flex;
}


.logo{
    height:1.4em;
    padding-top: 1.9em;
    padding-right: 20px;
}

.nav-item{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    color: grey;
    padding-top: 2em;
    padding-left: 30px;
}

.cart-avatar{
    float: right;
    padding-top: 1em;
    padding-right: 10em;
}

.icon-cart{
    padding-top: 10px;
    padding-right: 40px;
}

hr{
    margin-top: 1.5em;
}

/*Body*/
/*Product Images*/
.main{
    display: flex;
    justify-content: center;
    padding-top: 7vh;
    padding-left: 200px;
    padding-right: 200px;
}

#mainImg{
    border-radius: 15px;
    display: inline-block;
    justify-content: center;
}

.thumbails{
    justify-content: space-around;
}

.thumbnail{
    border-radius: 10px;
}

#thumbnail {
    margin-top: 22px;
    margin-right: 22px;
}

/*Body*/
/*Body Text*/
.maintext{
    padding-top: 2.5em;
    padding-left: 180px;
    width: 450px;
}

.header{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
    font-size: 12px;
    margin-top: 2em;
    margin-bottom: 1em;
}

.subheader {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0.8em;
}

.textbody{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    color: grey;
    font-size: 16px;
    margin-bottom: 1.5em;
}

/*Body*/
/*Price*/
.pricediv{
    margin-bottom: 2em;
}

.price1wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.price1{
    font-weight: 700;
    font-size: 30px;
}

.discount{
    color: hsl(26, 100%, 55%);
    margin-left:1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 15px;
    font-weight: 700;
    background-color: hsl(25, 100%, 94%);
    border-radius: 5px;
}

.price2wrapper{
}

.price2{
    font-size: 15px;
    font-weight: 700;
    text-decoration: line-through;
    color:grey;
}

/*Body*/
/*Buttons*/
.bottomtext{
    display: flex;
}

.plusminus{
    display: flex;
    align-items: center;
    padding-right: 1em;
    padding-left: 1em;
    margin-right: 1em;
    height: 3em;
    background-color: whitesmoke;
    border-radius: 8px;
}

.minus{

}

.counter{
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.plus{

}

.button {
    background-color: hsl(26, 100%, 55%);
    border: none;
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    height: 3.5em;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    border-radius: 8px;
    align-items: center;
}

.cart-button{
    padding-right: 1em;
    height:1em;
}
/**/
